{% extends 'base.html' %}

{% block navbar_content %}
  <ul class="nav navbar-nav">
    <li><a href="{% url 'student_login'%}">Student Login</a></li>
    <li><a href="{% url 'driver_login'%}">Driver Login</a></li>
  </ul>
{% endblock %}

{% block content %}
	<section class="intro">
		<div class="intro-info-container">
			<div class="intro-left-container">
				<h1>
					<p class="lighter">
						Easily advertise your products and services to one of your largest consumers: 
					</p>
						<strong>
							University Students.
						</strong>
				</h1>
				<div class="video-holder shadow"></div>
				<h1 class="lighter">
					<p class="lighter">
						Students love our service, our goal is to make them love yours.
					</p>
				</h1>
			</div>
			<img class="android" src="{{STATIC_URL}}images/android.png" />
	</div>
	</section>

<div class="gray-container">
	<div class="three-step-container">
		<div class="home-icon-container">
			<p>You give us an advertisement.</p>
			<span class="glyphicon glyphicon-film"></span>
		</div>
		<div class="home-icon-container">
			<p>We show students.</p>
			<span class="glyphicon glyphicon-user"></span>
		</div>
		<div class="home-icon-container">
			<p>Students buy your products.</p>
			<span class="glyphicon glyphicon-usd green"></span>
		</div>
	</div>
</div>

  <div class="twitter-feed">
  	<ul class="tweets-list">
  	{% for tweet in tweets %}
  		<li class="shadow">
				<div class="twitter-image-holder">
					<img class="twitter-profile-image" src="{{tweet.user.profile_image_url}}">
					<div class="tweet-names-holder">
						<p class="twitter-screen-name">@{{tweet.user.screen_name}}</p>
						<p class="twitter-name">{{tweet.user.name}}</p>
					</div>
					<div class="tweet-holder">
						<font class="small">{{tweet.text}}</font>
					</div>
			</li>
  	{% endfor %}
  	  	<div class="glyphicon glyphicon-chevron-right" />
  	</ul>
  </div>

		<div class="price-info-container">
			<div class="left-container">
				<h1>Pricing that makes sense</h1>
				<p class="pricing-summary">
						Pricing is simple and painless. You provide us with an advertisement and you only pay when we show
						it to students.
				</p>
				<p class="pricing-details">
					At Kogo, we charge you by the impact second. An impact second is one second that a student watches
					your advertisement. This way your every penny goes towards a potential customer learning about your products and services.
				</p>
				<p class="pricing-details">
					We are unique in that we can guarentee you that your advertisements are only being shown to your
					potential customers and that you are only paying when they watch you ad. You won't find a more
					efficient and cost-effective service on the market.
				</p>
			</div>
			<div class='right-container'>
				<ul class="sample-list">
					<li class="active"><h1>Sample Payment Plan</h1></li>
					<li>
						Length of Ad
						<span class="right"><strong>30 sec</strong></span>
					</li>
					<li>
						# Students to Watch it
						<span class="right"><strong>500</strong></span>
					</li>
					<li>
						Total Impact Seconds
						<span class="right">15,000</span>
					</li>
					<li>
						Cost per Impact Second
						<span class="right">$0.01</span>
					</li>
					<li>
						Total Cost
						<span class="right"><strong>$150</strong></span>
					</li>
				</ul>
			</div>
</div>

<div class="reasons-container">
	<div class="reasons-left-container">
		<h1>Why we're better than Print.</h1>
		<p class="reasons-summary">
			Students love our service, our goal is to make them love yours.
			There are several reasons why we're your best option.
		</p>
		<ul class="reasons-list">
			<li>Students are less likely to ignore your ads.</li>
			<li>Students are in a good mood when they see your ads.</li>
			<li>You only pay when students actually watch your ads.</li>
		</ul>
	</div>
	<div class="reasons-video shadow"></div>
</div>

<div class="contact-info-wrapper">
		<div class="contact-info-container">
				<h1 class="lg">Give Kogo a try?</h1>
				<p class="contact-summary">
					If you're interested in growing your business with us
					or have questions, let's get in touch.
				</p>
				<h1>kogoadvertising@gmail.com</h1>
				<h1>317-938-8461</h1>
		</div>
</div>
{% endblock %}