{% extends 'base.html' %}

{% block content %}
<div class="content-body">
	<div class="intro-container">
		<div class="intro-text-container">
			<h1>
				<p class="lighter">
					Easily advertise your products and services to one of your largest consumers: 
				</p>
					<strong>
						University Students.
					</strong>
			</h1>
			<p class="small-info">
				Kogo is a reliable service that displays your advertisments to university students in a non-traditional way. No more billboards or video displays in crowded rooms. Our solution is the best way to convince students they need
				your product.
			</p>
		</div>
		<div class="video-holder"></div>
	</div>
</div>

<div class="gray-container">
	<div class="three-step-container">
		<div class="home-icon-container">
			<p>You give us an advertisement.</p>
			<span class="glyphicon glyphicon-film"></span>
		</div>
		<div class="home-icon-container">
			<p>We show students.</p>
			<span class="glyphicon glyphicon-user"></span>
		</div>
		<div class="home-icon-container">
			<p>Students buy your products.</p>
			<span class="glyphicon glyphicon-usd green"></span>
		</div>
	</div>
</div>

<div class="price-info-wrapper">
	<div class="content-body">
		<div class="price-info-container">
				<div class="intro-text-container">
					<h1><strong>Pricing</strong></h1>
					<p>
							Pricing is simple and painless. You give us an advertising segment and pay based on the number of students you want to see your ads. The price is:
					</p>
					<h2 class="center"> 1¢ per Impact Second </h2>
					<p>where an impact second is a second that a student spends watching your advertisment. We promise no billboards, no crowded rooms. We offer a unique opportunity to create an intimate connection with your college aged consumers.</p>
				</div>
				<ul class="sample-payment">
					<li class="active"><strong>Sample Payment Plan</strong></li>
					<li>
						Length of Ad
						<span class="right">30 sec</span>
					</li>
					<li>
						# Students to Watch it
						<span class="right">500</span>
					</li>
					<li>
						Total Impact Seconds
						<span class="right">15,000</span>
					</li>
					<li>
						Cost per Impact Second
						<span class="right">$0.01</span>
					</li>
					<li>
						Total Cost
						<span class="right">$150</span>
					</li>
				</ul>
		</div>
	</div>
</div>
<div class="price-info-wrapper">
	<div class="content-body">
		<div class="price-info-container">
				<div class="intro-text-container">
					<h1><strong>Interested in Growing Your Business?</strong></h1>
					<p>
							If you are interested in advertising your products and services through Kogo and would like to get in touch with us, you may contact us by email or phone. We can provide you with further information and answer any questions you may have. Ultimately, if you decide to work with us, we will set up a meeting at your location to make a deal. We strongly believe that we can increase the sales of your business, so let us help.
					</p>
				</div>
				<ul class="sample-payment business-contact-list">
					<li class="active"><strong>Contact Info</strong></li>
					<li>
						Email
						<span class="right">businesses.kogoads@gmail.com</span>
					</li>
					<li>
						Phone Number
						<span class="right">317-979-7549</span>
					</li>
				</ul>
		</div>
	</div>
</div>

{% endblock %}