{% extends 'base.html' %}

{% block navbar_content %}
  <ul class="nav navbar-nav">
    <li><a href="{% url 'student_login'%}">Student Login</a></li>
    <li><a href="{% url 'driver_login'%}">Driver Login</a></li>
    <li><a href="{% url 'companies'%}">Company Info</a></li>
  </ul>
{% endblock %}

{% block content %}
<div class="content-holder home">
	<section class="home-container shadow">
		<a class="btn btn-primary shadow" href="{% url 'student_login' %}">Students</a>
		<a class="btn btn-primary shadow" href="{% url 'companies' %}">Business</a>
	</section>
</div>
{% endblock %}