/*Universal element and class styling*/

body{
	background: url(../images/background.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

input#id_email, input#id_username {
	text-transform: lowercase;
}

.btn, a, h3, h1 {
	font-family: 'Titillium Web', sans-serif;
}

html, body, div.btn-holder {
	width: 100%;
}

html, body {
	height: 100%;
}

li.error {
	color: #D00000;
}

span.glyphicon-remove {
	color: red;
}

.shadow {
	border: 1px solid LightGray;
	box-shadow: 0px 3px 11px #202020;
}

/* End universal styling */


/* Navbar styling */

div.navbar-header a.navbar-brand {
	color: white;
}

nav.navbar.navbar-inverse {
	margin-bottom: 0px;
	background-color: #5ED84C;
	border-color: #5ED84C;
}

ul.nav li {
	text-align: right;
	font-size: 1.2em;
}

/* End Navbar Styling */

.request-shadow {
	box-shadow: 0px 2px 5px #202020;
}

div.ride-names-holder {
	padding-top: 30px;
	padding-bottom: 30px;
}


button.location-btn, button.student {
	width: 300px;
	margin: 22px auto;
	font-size: 24px;
	display: block;
	padding: 35px;
}

ul.errorlist {
	padding-left: 15px;
	list-style: none;
	color: Firebrick;
}

button.location-btn.pickup {
	margin: -8px auto;
}

div.start-ride-holder {
	padding-bottom: 20px;
}

h3.pickup-title, h3.dropoff-title {
	margin-top: 0px;
	padding-top: 20px;
	font-family: inherit;
}

h3.pickup-title {
	margin-bottom: 0px;
	font-weight: bold;
}

button.back-btn {
	margin-top: 20px;
	margin-left: calc(50% - 150px);
	font-size: 16px;
	width: 86px;
}

span.glyphicon-chevron-left {
	font-size: 24px;
	cursor: pointer;
}

span.glyphicon-arrow-left strong,
div.cancel-request-holder strong {
	margin-left: 10px;
}

div.content-holder {
	height: calc(100% - 52px);
	text-align: center;
}

div.wait-background {
	background: rgba(0, 173, 0, 0.57);
	margin-top: 0px;
	height: 100%;
	text-align: center;
	overflow: auto;
}

div.wait-background h1 {
	padding: 35px;
	color: white;
	font-size: 90px;
	margin-top: 0px;
}


div.cancel-request-holder {
	margin-top: 70px;
	text-align: center;
	width: 100%;
	font-size: 24px;
	cursor: pointer;
}

div.cancel-request-holder span {
	color: Firebrick;
}

div.request-summary-holder {
	padding-top: 30px;
	font-size: 24px;
}

p.no-requests{
	padding: 30px;
	font-size: 22px;
}


/* New Student form */

form.new-student {
	margin: 40px auto;
	width: 300px;
}

form.new-student h3 {
	margin-bottom: 25px;
	font-family: 'Titillium Web', sans-serif;
}


button.num-requests {
	position: relative;
	left: 119px;
	top: 30px;
	padding: 0px 20px;
	font-size: 24px;
}

div.btn-holder:last-child {
	padding-bottom: 25px;
}