{% extends "base.html" %}

{% block navbar_content %}
  <ul class="nav navbar-nav">
  	<li><a href="{% url 'registration_register' %}">New to Kogo?</a></li>
    <li><a href="{% url 'driver_login' %}">Driver Login</a></li>
  </ul>
{% endblock %}

{% block content %} 
<div class="login-form-container">
	<h1>Student Login</h1>
  <form action="{{url}}" id="student-login" method="post">
    {% csrf_token %}
      {{auth_form.non_field_errors}}
      {% for field in auth_form %}
          <div class="form-group"> 
              {{ field.errors }}
              {{ field }}
          </div>
      {% endfor %}
      <button type="submit" class="btn btn-lg btn-primary">
        Log in
    </button>
    <a class="new-to-kogo" href="{% url 'registration_register' %}">  New to Kogo?
    </a>
  </form>
</div>

{% endblock %}