{% extends 'base.html' %}

  {% block additional_javascript %}
  <script type="text/javascript" src="{{STATIC_URL}}js/waitingScreen.js"></script>
  {% endblock %}

  {% block navbar_content %}
  <ul class="nav navbar-nav">
    <li><a href="{% url 'logout_user'%}">Logout</a></li>
  </ul>
  {% endblock %}

{% block content %}

<div class="wait-background">
	<div class="request-summary-holder">
		<span class="glyphicon glyphicon-road"></span>
		From <strong>{{start_loc}}</strong> to <strong>{{end_loc}}</strong>
	</div>
	<h1 class="group-number">{{group_number}}</h1>
	<form method="post" action="{% url 'cancel_request' %}">
		{% csrf_token %}
		<button type="submit" class="btn btn cancel-request-holder">
			<span class="glyphicon glyphicon-remove"></span>
			<strong>Cancel Request</strong>
		</button>
	</form>
</div>

{% endblock %}