<div class="driver-select-group" data-pickup="{{location.name}}">
  {% if groups %}
    <h3 class="dropoff-title">
      From <strong class="dropoff-loc">{{ location.name }}</strong> to:
    </h3>
    {% for group in groups %}
    <div class="btn-holder">
      <form type="get" action="{% url 'start_ride_screen' %}">
        <input type="hidden" name="groupID" value="{{group.id}}">
        <button class="location-btn dropoff shadow btn btn-default btn-lg">
          {{group.dropoff_loc}}
        </button>
      </form> 
    </div>
    {% endfor %}
  {% else %}
    <p class="no-requests">
      <img width="20px" src="../static/images/loader.gif">
      Searching for <strong>{{location.name}}</strong> requests.
    </p>
  {% endif %}
</div>