{% extends 'base.html' %}

{% block additional_javascript %}
<script type="text/javascript" src="{{STATIC_URL}}js/driver.js"></script>
{% endblock %}

{% block navbar_content %}
  <ul class="nav navbar-nav">
    <li><a href="{% url 'logout_user'%}">Logout</a></li>
  </ul>
{% endblock %}

{% block content %}
<div class="content-holder">
	<div class="wait-background group-info">
		<div class="request-summary-holder push-down">
			<span class="glyphicon glyphicon-road"></span>
			From <strong>{{group.pickup_loc.name}}</strong> to <strong>{{group.dropoff_loc.name}}</strong>
		</div>
		<div class="start-ride-holder">
			{% for request in requests %}
			<div class="btn-holder">
			    <button class="student shadow btn btn-default btn-lg" data-name="{{loc.name}}">
			      {{request.student}}
			      <span class="glyphicon glyphicon-ok hidden"></span>
			    </button>
		  	</div>
			{% endfor %}
			<form method="post" action="{% url 'start_ride_screen' %}">
				{% csrf_token %}
				<input type="hidden" name="groupID" value="{{group.id}}">
				<button type="submit" style="display: none" class="shadow start-ride btn btn-default btn-lg" data-group-id="{{group.id}}">Start Ride
				</button>
			</form>
		</div>
	</div>
</div>

{% endblock %}