

/* Business Informational Page */

section.intro {
	background: white;
	width: 100%;
	background-size: 100%;
	height: 690px;
}

div.video-holder {
	margin: 35px 0px 0px 0px;
	height: 300px;
	width: 580px;
	background: gray;
	opacity: 0.8;
}

ul.tweets-list {
	overflow: auto;
	list-style: none;
	padding: 10px;
	margin-bottom: 0px;
}

div.twitter-feed {
	width: 100%;
	position: fixed;
	background: white;
	z-index: 10;
}

div.twitter-image-holder {
	overflow: auto;
}

img.twitter-profile-image {
	float: left;
	margin-right: 10px;
}

p.twitter-screen-name {
	font-size: 18px;
	margin-bottom: 1px;
	font-weight: bold;
}

p.twitter-name {
	margin-top: 0px;
	margin-bottom: 0px;
}

div.tweet-names-holder {
	float: left;
	width: 130px;
}

ul.tweets-list li {
	width: 500px;
	float: left;
	background: white;
	padding: 10px;
	margin-right: 17px;
}

div.glyphicon-chevron-right {
	font-size: 65px;
	color: LightGray;
	float: left;
	margin-left: 50px;
}

ul.tweets-list li:last-child {
	margin-right: 0px;
}

div.tweet-holder {
	font-size: 0.9em;
	float: left;
	width: 280px;
}



img.android {
	float: right;
	width: 500px;
}

div.intro-left-container {
	width: 600px;
	float: left;
}

div.intro-left-container h1 {
	margin-top: 0px;
	padding-top: 40px
}

div.intro-left-container h1 strong {
	font-size: 52px;
}

div.intro-info-container {
	width: 1200px;
	margin: 0px auto;
}

div.intro-left-container h1 p.lighter {
	font-size: 26px;
}

div.intro-left-container p {
	font-size: 1.6em;
	font-weight: 200;
}

div.gray-container {
	width: 100%;
	background: #5ED84C;
	overflow: auto;
}

div.gray-container span {
	margin-top: 15px;
	font-size: 70px;
}

div.home-icon-container {
	float: left;
	text-align: center;
	width: 33%;
}

div.three-step-container {
	width: 1315px;
	margin: 15px auto;
	overflow: hidden;
	color: white;
}

div.home-icon-container p {
	font-size: 1.3em;
}

div.price-info-container {
	padding: 100px 200px;
	width: 100%;
	background-size: 100%;
	background: white;
	overflow: auto;
}

div.reasons-container {
	padding: 100px 200px;
	width: 100%;
	background: #469E3A;
	color: white;
	overflow: auto;
}

div.reasons-left-container {
	margin-bottom: 50px;
	float: left;
	width: 600px;
}

div.reasons-video {
	margin: 35px 0px 0px 20px;
	height: 270px;
	width: 480px;
	background: gray;
	opacity: 0.8;
	float: right;
}

div.reasons-container h1 {
	font-size: 50px;
}

ul.reasons-list {
	list-style: decimal;
	font-size: 1.3em;
	font-family: cursive;
}

ul.reasons-list li {
	margin: 20px 0px;
}

div.left-container {
	width: 550px;
	float: left;
	padding: 10px;
}

div.left-container h1 {
	font-size: 50px;
}

.right {
	float: right;
}

p.pricing-summary {
	padding-bottom: 10px;
	border-bottom: 5px solid #5ED84C;
	font-size: 1.5em;
}

p.reasons-summary {
	padding-bottom: 10px;
	border-bottom: 5px solid #5ED84C;
	font-size: 1.5em;
}

p.pricing-details {
	font-size: 1.2em;
}

div.right-container {
	float: right;
	width: 500px;
	padding: 10px;
}

div.list-container {
	float: right;
}

ul.sample-list {
	list-style: none;
	padding-left: 0px;
	font-size: 18px;
}

ul.sample-list li.active {
	font-size: 30px;
	font-family: "Titillium Web",sans-serif;
}

ul.sample-list li {
	border-bottom: 2px solid LightGray;
	padding-top: 10px;
	padding-bottom: 10px;
}

div.contact-info-wrapper {
	background: white;
	width: 100%;
	background-size: 100%;
}

div.contact-info-container {
	padding: 40px;
	text-align: center;
	padding-bottom: 140px;
}

div.contact-info-container h1.lg {
	font-size: 60px;
}


p.contact-summary {
	margin: 0px auto;
	text-align: center;
	padding-bottom: 10px;
	border-bottom: 5px solid #5ED84C;
	font-size: 1.5em;
	width: 500px;
}

img.bottom {
	width: 100%;
}

/* End Business Informational Page */